# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# Test / coverage artifacts
.coverage
.coverage.*
htmlcov/
.pytest_cache/
